@font-face {
    font-family: 'FONTSPRING DEMO - Cera Pro';
    src: url('FONTSPRINGDEMO-CeraProMediumRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-CeraProMediumRegular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Cera Pro';
    src: url('FONTSPRINGDEMO-CeraProBlackRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-CeraProBlackRegular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Cera Pro';
    src: url('FONTSPRINGDEMO-CeraProRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-CeraProRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Cera Pro';
    src: url('FONTSPRINGDEMO-CeraProBold.woff2') format('woff2'),
        url('FONTSPRINGDEMO-CeraProBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

